#dev-bar {
  font-family: 'Courier New', monospace;
  text-align:center;
  margin:0 auto;
  overflow:hidden;
  strong {
    font-size: 12px;
  }
  ul {
    display:inline;
    li { 
      display:inline;
      padding: 3px;
    }
  }
}