pre, code, address.bitcoin_address {
  font-family: 'andale mono', 'lucida console', monospace;
  color:#373E43;
  letter-spacing:-1px;
}

address.bitcoin_address {
  font-size:18px;
  font-weight:600;
  letter-spacing:-1px;
}

.description {
  font-family: Palatino, 'Times New Roman', serif;
}
