@import "../config";

body {
  font: normal 16px "helvetica neue",helvetica,arial,sans-serif;
  line-height: 24px;
  color: #52585D;
  background:transparent image-url('pattern_127.gif') 0 0 repeat;
  background:transparent image-url('lgrey011.jpg') 0 0 repeat;
  background:transparent image-url('pattern_23.gif') 0 0 repeat;

}

#container {
}

#banner {
  padding-top:$baseline;
  position: relative;
  border-bottom:1px solid #000;
  a {
    text-decoration: none;
  }
}

#nav {
  display:block;
  overflow:hidden;
  ul {
    li {
      float:right;
      margin-left:5px;
      background-color: $c_primary_3;
      padding:2px 4px;
      width:80px;
      text-align:center;
      a {
        color: white;
        text-shadow: 0 1px 1px $c_primary_2;
        font-weight:200;
      }
      margin-bottom: 1px;
    }
  }
}

#header {
  background-color: $c_primary_4; 
  background-image: linear-gradient(left , rgb(253,189,110) 2%, rgb(247,148,26) 51%);
  background-image: -o-linear-gradient(left , rgb(253,189,110) 2%, rgb(247,148,26) 51%);
  background-image: -moz-linear-gradient(left , rgb(253,189,110) 2%, rgb(247,148,26) 51%);
  background-image: -webkit-linear-gradient(left , rgb(253,189,110) 2%, rgb(247,148,26) 51%);
  background-image: -ms-linear-gradient(left , rgb(253,189,110) 2%, rgb(247,148,26) 51%);
   
  overflow:hidden;
  position: relative;
  padding-top:$baseline;
  h1 {
    padding-left:$column-width;
    float:left;
  }
  figure {
    overflow:hidden;
    height:64px;
    float:right;
  }
}


#main {
  padding-top: $baseline;
  min-height: 30*$baseline;
  background-color:#ddd;
  text-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  font-weight:3 00;
}

footer {
  color:#fff;
  text-align:center;
  font-size:85%;
  text-shadow:0px 0px 3px rgba(0, 0, 0, 0.8);
  a {
    text-decoration:none;
    color:$c_primary_5;
    &:hover {
      color:$c_primary_4;
    }
  }
}

