@import "../config";

body {
  font: normal 16px "helvetica neue",helvetica,arial,sans-serif;
  line-height: 24px;
  color: #52585D;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "agb","helvetica neue",helvetica,arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  color:#373E43;
}
h1 {
  font-size: 40px;
  line-height: 48px;
}

#container {
  
}

#header {
  overflow:hidden;
  position: relative;
  #nav {
    position: absolute;
    top:0px;
    right: 0px;
    ul {
      li {
        float:left;
        margin-left:20px;
      }
    }
  }
  figure {
    overflow:hidden;
    width: 50px;
    height:50px;
    float:left;
    margin-right: 10px;
    border: 1px solid #b0b0b0;
  }
  padding-top:$baseline;
  a {
    text-decoration: none;
  }
  margin-bottom:$baseline;
}


#main {
  min-height: 30*$baseline;
}

footer {
  text-align:center;
  font-size:85%;
}

