<html>
<body>
  <p>Hi,</p>
  <p>This email has been sent to you automatically, to help setup your Bitcoin Payment Service (BPS).</p>
  <p>To get started, click the following link: <%= link_to "setup your BPS now", new_site_setup_url %>.</p>
</body>
</html>
