<div id="admin"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new BPS.Admin.Routers.Dashboard();
    
    Backbone.history.start();
  });
</script>

