body.admin {

  #dashboard {
    ol {
      list-style-type: none;
      padding: 0;
      margin:0;
      li {
        padding-left: 0;
        overflow:hidden;
        hr {
          margin-bottom:0;
          background:#aaa;
          color:#aaa;
        }
        header {
          position:relative;
          .id {
            color:#FF7F00;
            text-align:right;
          }
          .show_keys {
            text-align:left;
          }
        }
        address, a, .description {
        }
        .keys {
          display:none;
          code {
            color:#a00;
            display: block;
            position:relative;
            word-wrap: break-word;
            span {
              position:absolute;
              top:0;
              text-align:right;
              left:-110px;
              width:100px;
            }
          }
          code.public {
            color:#080;
          }
        }
      }
    }
  }

}