body.admin {

  #dashboard {
    ol {
      list-style-type: none;
      padding-left: 0;
      li {
        padding-left: 0;
      }
    }
    #payments {
      article {
        position:relative;
        border-top: 1px solid #aaa;
        header {
          position:absolute;
          top:0;
          left:-60px;
          width:50px;
          text-align:right;
          background:#fff;
          color:#0a0;
        }
        .email {
          font-size:0.9em;
        }
        .name {
          font-weight:bold;
        }
        .email {
          font-weight:200;
        }
      }
    }
  }

}