@import "../config";

body {
/*  background:transparent image-url('background/pattern_26.gif') 0 0 repeat;*/
}

#admin-panel {
  border-left:1px solid #000;
  border-bottom:1px solid #000;
  border-right:1px solid #000;
  overflow:hidden;
  
  #side-menu {
    width:$column_width*4 - 1px;
    float:left;
  }
  
  #main-panel {
    width:$column_width*16 - 2px;
    float:left;
    border-left:1px solid #000;
  }
}

#nav {
  ul {
  }
}

.panel > header {
  padding-left:$baseline/2;
  background-color:rgb(40, 40, 40);
  line-height:16px;
  height:$baseline*2;

  background-image: linear-gradient(left , rgb(253,189,110) 2%, rgb(247,148,26) 51%);
  background-image: -o-linear-gradient(left , rgb(253,189,110) 2%, rgb(247,148,26) 51%);
  background-image: -moz-linear-gradient(left , rgb(253,189,110) 2%, rgb(247,148,26) 51%);
  background-image: -ms-linear-gradient(left , rgb(253,189,110) 2%, rgb(247,148,26) 51%);
  background-image: -webkit-linear-gradient(top , rgb(100,100,100) 40%, rgb(60, 60, 60) 60%);

  h1, h2 {
    line-height:$baseline*2;
    color:#fff;
    text-shadow:0px -1px 1px #000;
    font-size:16px;
    font-family: Arial;
    font-weight:700;
  }
  a {
    text-decoration:none;
  }
}

