<h1>Make a payment</h1>
<p>To make a payment to <%= user_full_name %>, please fill out the details below.</p>

<form id="new-payment" class="formtastic">
  <fieldset class="inputs">
    <ol>
      <li class="input" id="payment_description_input">
        <label class="label" for="description">Description:</label>
        <textarea name="description" id="description"><%= description %></textarea>
      </li>
    </ol>
  </fieldset>
  <fieldset class="buttons">
    <input type="submit" value="Finish payment" id="submit-payment" />
    |
    <a href="#index">Cancel</a>
  </fieldset>
</form>
