<h1>Finish payment</h1>
<p>Please send your payment to the following address:</p>
<p class="hint">Copy and paste this address into your bitcoin client</p>

<address class="bitcoin_address">
  <%= bitcoin_address.address %>
</address>

<ul class="actions">
  <li><a href="#index">Make another payment</a></li>  
</ul>
