<div id="payments"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Bps.Routers.PaymentsRouter({user_full_name: <%= @user.full_name.to_json.html_safe %>});
    Backbone.history.start();
  });
</script>

