<p>This site is an online payment service for <%= user_full_name %>. 
Anyone can use this site to send bitcoins to <%= user_full_name %>.</p>

<p>What would you like to do?</p>

<form class="formtastic" action="#/bitcoin_addresses/new">
  <fieldset class="buttons">
    <ol>
      <li class="button">
        <input type="submit" value="Make a payment" />
      </li>
      <li>
        <a href="#/bitcoin_addresses/new">Make anonymous payment</a>
      </li>
    </ol>
  </fieldset>
</form>
