<p>This site is an online payment service for <%= user_full_name %>. 
Anyone can use this site to send bitcoins to <%= user_full_name %>.</p>

<p>
  <a href="#/bitcoin_addresses/new" class="button">Make a payment</a>
</p>

