<div class="page-header">
  <h1>Finish payment</h1>
</div>
<p>
  Please send your payment to the following address
</p>
<p>
  <em>
    Copy and paste this address into your bitcoin client
  </em>
</p>
<section class="bitcoin_address">
  <code>
    <%= address %>
  </code>
  <figure>
    <%= qrcode %>
  </figure>
</section>
