$baseline: 18px;

$column_width: 40px;

/* 
#F7931A
*/

$c_primary_1: #F7941A;
$c_primary_2: #B6803E;
$c_primary_3: #9B5908;
$c_primary_4: #FDBD6E;
$c_primary_5: #FDDBB1;

$c_secondary_1: #186C9D;
$c_secondary_2: #2C5974;
$c_secondary_3: #074163;
$c_secondary_4: #6BB8E5;
$c_secondary_5: #A4CDE5;



