<footer>
  <p>The source code + instructions on how to deploy BPS yourself can be found at <%= link_to 'github.com/matholroyd/bps', 'https://github.com/matholroyd/bps' %></p>
  <p>
    BPS was written by <%= link_to "Mat Holroyd", "http://www.linkedin.com/in/matholroyd" %>. Find me on Twitter <%= link_to '@matholroyd', 'http://twitter.com/#!/matholroyd' %>. Copyright &copy; <%= Date.today.year %>
  </p>
</footer>
