<nav id="nav">
  <ul>
    <% if current_user %>
      <li><%= link_to "sign out", session_path, method: :delete %></li>
      <li><%= link_to "admin", admin_dashboard_path %></li>
    <% else %>
      <li><%= link_to "admin", new_session_path %></li>
    <% end %>
  </ul>
</nav>
